### https://raw.github.com/github/gitignore/1587f288ee3c5132ad5e14be232d9e5784209286/scala.gitignore

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


